@charset "utf-8";
/* CSS Document */
body {
	background-image:url(../img/fondo_ZAFE.jpg);
	background-color:#212121;
	background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
	color: #fff;
	font-size: 36px;
}

ul{
	background-color:rgba(255,255,255,0.3);
    clear: both;
    font-size: 12px;
    height: 80px;
    padding: 0 0 0 0px;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-top: 50px;
    margin-left: -8px;
}

table{
	margin-top:150px;
	border-color: #fff;
	border-style:solid;
	border-width: 0px;
	color: #fff;
}

td{
	border-width:0px;
	width:20px;
}

button {
	background-color: rgba(255,255,255,0);
	border-radius: 20px;
	border-color: #fff;
	color: #fff;
	width: 140px;
	height: 40px;
	cursor: pointer;
	margin-top: 5px;
}




