<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.example.pgbuild"
        versionCode="10" 
        version   = "1.0.0">

    <name>Test</name>

    <description>
        Show Hello World
    </description>

    <author href="http://phonegap.com/blog/" email="danielito@hotmail.com">
        Carlos Cortes
    </author>
    <icon src="img/logoz.png" />
    <gap:splash src="img/logoz.png" />
</widget>